In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('allfts.csv')

In [3]:
data.head()

,Unnamed: 0,id,team1,inning_x,strike_rate,team2,economy_rate,Team1_runs
0,0,335982,Royal Challengers Bangalore,1,88.776875,Kolkata Knight Riders,9.923636,222
1,1,335983,Kings XI Punjab,1,162.167692,Chennai Super Kings,12.085833,240
2,2,335984,Delhi Capitals,1,117.141538,Rajasthan Royals,7.868182,129
3,3,335985,Mumbai Indians,1,129.096667,Royal Challengers Bangalore,8.559167,165
4,4,335986,Kolkata Knight Riders,1,70.883529,Deccan Chargers,6.567500,110

In [4]:
data.describe()

,Unnamed: 0,id,inning_x,strike_rate,economy_rate,Team1_runs
count,816.000000,8.160000e+02,816.0,816.000000,816.000000,816.000000
mean,407.500000,7.563496e+05,1.0,116.140274,8.579733,161.849265
std,235.703203,3.058943e+05,0.0,24.604295,1.352669,30.382883
min,0.000000,3.359820e+05,1.0,47.650000,3.897500,56.000000
25%,203.750000,5.012278e+05,1.0,99.404250,7.721477,143.000000
50%,407.500000,7.292980e+05,1.0,114.916429,8.530000,163.000000
75%,611.250000,1.082626e+06,1.0,131.184038,9.389107,182.000000
max,815.000000,1.237181e+06,1.0,219.938333,12.989000,263.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    816 non-null    int64
 1   id            816 non-null    int64
 2   team1         816 non-null    object
 3   inning_x      816 non-null    int64
 4   strike_rate   816 non-null    float64
 5   team2         816 non-null    object
 6   economy_rate  816 non-null    float64
 7   Team1_runs    816 non-null    int64
dtypes: float64(2), int64(4), object(2)
memory usage: 51.1+ KB

In [6]:
data.nunique()

Unnamed: 0      816
id              816
team1            13
inning_x          1
strike_rate     815
team2            13
economy_rate    799
Team1_runs      151
dtype: int64

In [7]:
data.dtypes

Unnamed: 0        int64
id                int64
team1            object
inning_x          int64
strike_rate     float64
team2            object
economy_rate    float64
Team1_runs        int64
dtype: object

In [8]:
data.columns

Index(['Unnamed: 0', 'id', 'team1', 'inning_x', 'strike_rate', 'team2',
       'economy_rate', 'Team1_runs'],
      dtype='object')

In [9]:
irrelevant = ['team1','inning_x','team2']
data = data.drop(irrelevant, axis=1)
data.head()

   Unnamed: 0      id  strike_rate  economy_rate  Team1_runs
0           0  335982    88.776875      9.923636         222
1           1  335983   162.167692     12.085833         240
2           2  335984   117.141538      7.868182         129
3           3  335985   129.096667      8.559167         165
4           4  335986    70.883529      6.567500         110

In [10]:
data = data.drop(data.columns[0],axis=True)
data.head()

       id  strike_rate  economy_rate  Team1_runs
0  335982    88.776875      9.923636         222
1  335983   162.167692     12.085833         240
2  335984   117.141538      7.868182         129
3  335985   129.096667      8.559167         165
4  335986    70.883529      6.567500         110

In [11]:
data[data==np.inf]=np.nan
data.dropna()
data.isna().sum()

id              0
strike_rate     0
economy_rate    0
Team1_runs      0
dtype: int64

In [12]:
from seaborn import heatmap
heatmap(data=data.corr(), annot=True)

ModuleNotFoundError: No module named 'seaborn'

In [12]:
matches = pd.read_csv('datasets/matches.csv')
matches.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [17]:
matches.replace(['Mumbai Indians','Kolkata Knight Riders','Royal Challengers Bangalore','Deccan Chargers','Chennai Super Kings',
                 'Rajasthan Royals','Delhi Daredevils','Gujarat Lions','Kings XI Punjab',
                 'Sunrisers Hyderabad','Rising Pune Supergiants','Rising Pune Supergiant','Kochi Tuskers Kerala','Pune Warriors', 'Delhi Capitals']
                ,['MI','KKR','RCB','DC','CSK','RR','DD','GL','KXIP','SRH','RPS','RPS','KTK','PW', 'DD'],inplace=True)

encode = {'team1': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'team2': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'toss_winner': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13}}
matches.replace(encode, inplace=True)
matches['city'].fillna('Dubai',inplace=True)
matches = matches[['id','team1','team2','city','toss_decision','toss_winner','venue']]
matches.head(2)

,id,team1,team2,city,toss_decision,toss_winner,venue
0,335982,3,2,Bangalore,field,3,M Chinnaswamy Stadium
1,335983,9,5,Chandigarh,bat,5,"Punjab Cricket Association Stadium, Mohali"

In [18]:
final = pd.merge(matches, data, on=['id'])
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 815
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             816 non-null    int64
 1   team1          816 non-null    int64
 2   team2          816 non-null    int64
 3   city           816 non-null    object
 4   toss_decision  816 non-null    object
 5   toss_winner    816 non-null    int64
 6   venue          816 non-null    object
 7   strike_rate    816 non-null    float64
 8   economy_rate   816 non-null    float64
 9   Team1_runs     816 non-null    int64
dtypes: float64(2), int64(5), object(3)
memory usage: 70.1+ KB

In [19]:
final['team1'].unique()

array([ 3,  9,  7,  1,  2,  6,  4,  5, 12, 13, 10,  8, 11])

In [20]:
#building predictive model
from sklearn.preprocessing import LabelEncoder
var_mod = ['city','toss_decision','venue']
le = LabelEncoder()
for i in var_mod:
    final[i] = le.fit_transform(final[i])
final.dtypes

id                 int64
team1              int64
team2              int64
city               int64
toss_decision      int64
toss_winner        int64
venue              int64
strike_rate      float64
economy_rate     float64
Team1_runs         int64
dtype: object

In [21]:
 final.apply(lambda x: sum(x.isnull()),axis=0)

id               0
team1            0
team2            0
city             0
toss_decision    0
toss_winner      0
venue            0
strike_rate      0
economy_rate     0
Team1_runs       0
dtype: int64

In [42]:
features = final.drop(['Team1_runs', 'id'], axis=1)
labels = final['Team1_runs']

In [188]:
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size=0.20, shuffle=True)
train_features.head()

,team1,team2,city,toss_decision,toss_winner,venue,strike_rate,economy_rate
413,7,1,12,0,1,29,107.055714,6.731667
127,6,2,1,0,6,25,100.708000,7.998333
344,7,5,10,0,5,8,84.264375,6.811667
525,1,8,23,1,8,35,104.555556,7.493333
270,9,2,7,0,9,23,100.528333,7.431818

In [172]:
def getAccuracy(pred):
    correct = 0
    pred = pred.flatten()
    test = test_labels.to_frame().to_numpy().flatten()
    for i in range(len(pred)):
        if abs(test[i] - pred[i]) <= 20:
            correct += 1
    return (correct/len(pred)) * 100

In [173]:
models = dict()

In [174]:
#Decision Tree
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()
tree.fit(train_features, train_labels)

DecisionTreeRegressor()

In [175]:
pred_tree = tree.predict(test_features)
print(pred_tree)
print("Accuracy=", str(getAccuracy(pred_tree))+"%")

[177. 170. 116. 202. 164. 187. 164. 171. 185. 106. 158. 198. 175. 163.
 205. 139. 162. 159. 163. 147. 158. 171. 163. 176. 184. 123.  89. 126.
 130. 127. 141. 110. 165. 136. 132. 161. 183. 198. 168. 187. 149. 172.
 134. 158. 200. 191. 115. 183. 201. 187. 165. 150. 157. 142. 192. 183.
 145. 191. 140. 151. 119. 188. 129. 148. 164. 172.  56. 112. 231. 194.
 165. 146. 165. 166. 191. 138. 176. 171. 184. 136. 196. 128. 232. 191.
 194. 159. 213. 154. 152. 185. 163. 172. 161. 163. 222. 157. 113. 146.
 144. 210. 172. 110. 154. 191. 164. 200. 154. 108. 135. 159. 163. 177.
 183. 120. 156. 150. 192. 138. 161. 148. 171. 194. 218. 172. 127. 168.
 179.  84. 205. 208. 126. 174. 141. 183. 173. 165. 148. 126. 210. 173.
 123. 112. 200. 218. 187. 158. 140. 148. 165. 198. 194. 112.  98. 141.
 118. 119. 112. 120. 140.  67. 151. 191. 189. 100.]
Accuracy= 63.41463414634146%

In [176]:
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse
print("---- Decision Tree Regressor - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, tree.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, tree.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, tree.predict(test_features)))))

---- Decision Tree Regressor - Model Evaluation ----
Mean Absolute Error (MAE): 18.75
Mean Squared Error (MSE): 580.9451219512196
Root Mean Squared Error (RMSE): 24.102803196956565

In [177]:
#Linear Regression
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(train_features, train_labels)

LinearRegression()

In [178]:
pred_lin = linreg.predict(test_features)
print(pred_lin)
print("Accuracy=", str(getAccuracy(pred_lin))+"%")

[143.44403496 168.41294774 114.35793141 194.34455948 164.67746515
 171.28177045 159.8825001  178.93241864 209.56130555 228.27284733
 156.64436995 207.04374326 192.69039736 150.50251404 161.12524019
 138.08038481 151.87853854 161.9615419  144.61237096 164.48312905
 157.29932854 165.45688578 165.4195153  177.666508   163.53122903
 145.41789644 156.22920442 122.33598919 147.62295309 138.88913638
 170.85031805 137.12949941 166.71053641 143.69665349 126.98472547
 188.56800934 183.22193794 191.47793188 176.2326972  156.34485461
 144.25346561 175.70442203 134.68896412 164.28864375 200.34714568
 161.24868008 128.54221351 182.65794663 188.47741788 174.46813322
 154.41848388 154.99612693 153.94767057 159.6143265  181.33278694
 159.77771896 146.58699059 217.39738312 152.21217219 157.94101944
 129.37185716 147.26849646 181.68790476 137.1447375  163.91697802
 175.04340589 118.8544746  109.97433798 198.40518562 154.97954287
 171.0261569  141.17300489 166.32541426 155.50850698 174.85553741
 162.15718696 179.97547811 171.3601934  166.99544838 126.60263033
 183.41752664 138.37703446 198.19759146 168.04746132 169.85551211
 165.53706889 188.85018124 154.13532875 126.07212696 175.86166546
 164.00055496 164.33031787 168.84951646 166.23990114 198.445437
 169.91140344 142.98237893 144.65828233 145.90776382 159.89707476
 171.31963191 137.00830609 153.70370752 216.088377   158.30742638
 192.81865856 160.23272452 131.88095917 140.89982014 152.56380541
 169.09311069 159.67610901 180.2059457  145.7446648  150.37633954
 159.44568271 138.27700962 148.08964489 153.29027244 167.43412742
 151.38326404 187.60582221 192.52930249 175.4613675  136.98964857
 151.10203284 178.12275396 104.72302093 162.54299866 194.62889013
 119.8590495  151.53578562 148.55304365 165.83074924 180.75488907
 151.57932425 137.2693341  136.33293616 158.5818592  172.07087581
 144.37313126 141.78377083 172.49911137 203.24022334 190.8518501
 168.93217867 135.63492324 124.03448196 159.46864359 200.46623087
 191.4388176  130.87536618 137.90709152 199.84695829 146.63786286
 122.81553382 138.04734787 137.00901558 157.71653284 119.60124886
 160.9496115  168.35857802 174.6747452  113.17263733]
Accuracy= 78.65853658536585%

In [179]:
print("---- Linear Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, linreg.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, linreg.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, linreg.predict(test_features)))))

---- Linear Regression - Model Evaluation ----
Mean Absolute Error (MAE): 14.03452133195614
Mean Squared Error (MSE): 401.11075154692173
Root Mean Squared Error (RMSE): 20.02774953775191

In [180]:
#Random Forest
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor()
forest.fit(train_features, train_labels)

RandomForestRegressor()

In [181]:
y_pred = forest.predict(test_features)
print(y_pred)
print("Accuracy=", str(getAccuracy(y_pred))+"%")

[147.4  177.06  87.96 206.07 161.75 175.   159.28 182.8  197.96 101.71
 159.6  205.62 186.55 159.23 161.41 129.77 157.83 152.46 140.98 177.82
 160.74 174.3  169.55 179.88 170.4  144.84 156.79 108.49 148.03 134.97
 184.69 128.51 170.78 149.54 127.55 182.45 184.3  199.41 172.37 165.86
 128.89 179.92 135.73 181.88 201.14 168.8  119.12 186.66 192.33 173.84
 151.73 151.76 157.05 158.5  177.69 158.54 144.83 202.42 154.66 160.21
 131.28 153.01 164.15 131.74 167.14 175.62  90.13  85.92 214.52 163.2
 178.33 139.86 157.68 159.44 179.16 176.89 173.86 174.31 172.82 134.74
 184.63 117.46 198.22 170.55 186.84 164.53 175.7  154.41 132.16 189.76
 166.44 166.96 170.83 172.02 202.75 169.47 131.2  143.97 148.44 166.
 182.94 126.36 159.81 204.83 163.29 195.99 157.33 123.9  134.06 162.35
 171.64 159.62 187.6  149.32 155.07 155.78 154.43 145.88 154.12 186.02
 158.82 187.18 197.22 179.61 128.37 154.56 182.17  79.98 156.79 209.14
  98.45 156.4  149.75 170.68 181.49 156.87 138.73 123.13 160.69 179.27
 142.81 136.37 179.14 216.48 187.23 170.91 137.04 112.91 163.58 208.97
 188.38 118.96 132.12 171.92 148.1  117.87 126.32 128.56 152.24 108.2
 159.45 177.75 184.88  89.94]
Accuracy= 79.26829268292683%

In [182]:
print("---- Random Forest Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, forest.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, forest.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, forest.predict(test_features)))))

---- Random Forest Regression - Model Evaluation ----
Mean Absolute Error (MAE): 13.736341463414636
Mean Squared Error (MSE): 335.9157109756098
Root Mean Squared Error (RMSE): 18.32800346397855

In [183]:
#Lasso Regression
from sklearn.linear_model import LassoCV
lasso = LassoCV()
# Train Model
lasso.fit(train_features, train_labels)

LassoCV()

In [184]:
pred_lasso = lasso.predict(test_features)
print(pred_lasso)
print("Accuracy=", str(getAccuracy(pred_lasso))+"%")

[144.11715393 167.80216549 115.38225557 194.21637229 165.13669231
 170.9248745  160.35755029 177.91673894 208.44571238 226.49779174
 157.54261887 206.03287891 190.49524433 150.21361518 160.93353026
 139.15102638 152.09466167 161.74178973 145.66859262 164.29447832
 157.70660909 165.93664665 165.01125256 177.2700496  163.70624867
 145.73933361 156.31915621 123.59557941 147.44052161 139.78933968
 171.00186354 137.88927091 166.88354918 143.92652283 127.93752905
 188.92185367 182.2766571  190.78325801 175.09513068 155.26823398
 143.94134156 175.30048678 135.36603432 164.36570162 200.65060904
 161.24895662 128.6533517  181.11329823 187.55451431 174.433214
 154.05312241 154.40632778 154.17202859 159.03328573 180.49055983
 160.88645905 147.26030069 215.81036927 152.51906202 158.7879385
 130.48165361 148.57680426 183.29494782 138.18142027 163.59128923
 175.73380877 120.55257573 110.35261634 197.76394241 155.11487645
 169.51806367 141.55092403 164.01850996 154.56237315 174.90341271
 162.50872068 179.16386445 170.81540615 168.13397993 128.2213043
 182.33301835 137.66414503 196.68886758 168.95820475 170.36981463
 165.60590791 187.60320388 154.91262767 127.04707457 176.2304175
 164.72852342 165.05382049 168.03173695 167.18367569 197.21521449
 170.99599574 144.12841477 144.80321711 146.32579453 160.51938909
 170.06137392 137.97391607 154.62659876 215.0335675  158.95757036
 191.15360114 161.04360335 131.94433077 140.48334061 153.1157248
 168.38470343 159.98825025 179.54360448 146.68976572 151.19848107
 159.59968786 138.66420982 148.75121163 153.24901766 166.957851
 151.47858725 187.20088957 191.71569067 175.56620428 137.69943194
 150.96972267 178.31348855 105.9232858  162.19132175 194.33028681
 120.04205645 151.35352759 148.72089304 165.67921479 181.16488329
 151.69039606 138.27061031 137.53157464 159.04602153 171.10623725
 144.41110349 141.77381023 171.80031397 202.49944489 189.95473047
 169.51097539 136.37162967 123.95596051 158.17668549 199.85018858
 191.17267134 131.09405257 137.91828418 196.78124408 147.18479825
 123.61126384 138.35494766 137.91268249 157.61479102 120.49256789
 161.36704371 168.47936695 173.33724585 113.57680263]
Accuracy= 79.26829268292683%

In [185]:
print("---- Lasso Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, lasso.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, lasso.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, lasso.predict(test_features)))))

---- Lasso Regression - Model Evaluation ----
Mean Absolute Error (MAE): 14.085097505536194
Mean Squared Error (MSE): 398.52447920904854
Root Mean Squared Error (RMSE): 19.963077899188004

In [186]:
#Neural Network (MultiLayer Perceptron)
from sklearn.neural_network import MLPRegressor
neural_net = MLPRegressor(activation='logistic', max_iter=1000)
# Train Model
neural_net.fit(train_features, train_labels)

/home/cpriti/.local/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor(activation='logistic', max_iter=1000)

In [187]:
pred_MLP = lasso.predict(test_features)
print(pred_MLP)
print("Accuracy=", str(getAccuracy(pred_MLP))+"%")

[144.11715393 167.80216549 115.38225557 194.21637229 165.13669231
 170.9248745  160.35755029 177.91673894 208.44571238 226.49779174
 157.54261887 206.03287891 190.49524433 150.21361518 160.93353026
 139.15102638 152.09466167 161.74178973 145.66859262 164.29447832
 157.70660909 165.93664665 165.01125256 177.2700496  163.70624867
 145.73933361 156.31915621 123.59557941 147.44052161 139.78933968
 171.00186354 137.88927091 166.88354918 143.92652283 127.93752905
 188.92185367 182.2766571  190.78325801 175.09513068 155.26823398
 143.94134156 175.30048678 135.36603432 164.36570162 200.65060904
 161.24895662 128.6533517  181.11329823 187.55451431 174.433214
 154.05312241 154.40632778 154.17202859 159.03328573 180.49055983
 160.88645905 147.26030069 215.81036927 152.51906202 158.7879385
 130.48165361 148.57680426 183.29494782 138.18142027 163.59128923
 175.73380877 120.55257573 110.35261634 197.76394241 155.11487645
 169.51806367 141.55092403 164.01850996 154.56237315 174.90341271
 162.50872068 179.16386445 170.81540615 168.13397993 128.2213043
 182.33301835 137.66414503 196.68886758 168.95820475 170.36981463
 165.60590791 187.60320388 154.91262767 127.04707457 176.2304175
 164.72852342 165.05382049 168.03173695 167.18367569 197.21521449
 170.99599574 144.12841477 144.80321711 146.32579453 160.51938909
 170.06137392 137.97391607 154.62659876 215.0335675  158.95757036
 191.15360114 161.04360335 131.94433077 140.48334061 153.1157248
 168.38470343 159.98825025 179.54360448 146.68976572 151.19848107
 159.59968786 138.66420982 148.75121163 153.24901766 166.957851
 151.47858725 187.20088957 191.71569067 175.56620428 137.69943194
 150.96972267 178.31348855 105.9232858  162.19132175 194.33028681
 120.04205645 151.35352759 148.72089304 165.67921479 181.16488329
 151.69039606 138.27061031 137.53157464 159.04602153 171.10623725
 144.41110349 141.77381023 171.80031397 202.49944489 189.95473047
 169.51097539 136.37162967 123.95596051 158.17668549 199.85018858
 191.17267134 131.09405257 137.91828418 196.78124408 147.18479825
 123.61126384 138.35494766 137.91268249 157.61479102 120.49256789
 161.36704371 168.47936695 173.33724585 113.57680263]
Accuracy= 79.26829268292683%

In [154]:
print("---- Neural Networks Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, neural_net.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, neural_net.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, neural_net.predict(test_features)))))

---- Neural Networks Regression - Model Evaluation ----
Mean Absolute Error (MAE): 20.229951869187232
Mean Squared Error (MSE): 642.2442648622338
Root Mean Squared Error (RMSE): 25.342538642808336

In [190]:
def predict_score(user_input,model=forest):
    user_input = np.array([user_input])
    pred = model.predict(user_input)
    return int(round(pred[0]))

In [191]:
score = predict_score([1, 7, 10, 1, 1, 23, 99.0, 7.5])
print(f'Predicted Score : {score}')

Predicted Score : 154