In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('allfts.csv')

In [3]:
data.head()

,Unnamed: 0,id,team1,inning_x,strike_rate,team2,economy_rate,Team1_runs
0,0,335982,Royal Challengers Bangalore,1,88.776875,Kolkata Knight Riders,9.923636,222
1,1,335983,Kings XI Punjab,1,162.167692,Chennai Super Kings,12.085833,240
2,2,335984,Delhi Capitals,1,117.141538,Rajasthan Royals,7.868182,129
3,3,335985,Mumbai Indians,1,129.096667,Royal Challengers Bangalore,8.559167,165
4,4,335986,Kolkata Knight Riders,1,70.883529,Deccan Chargers,6.567500,110

In [4]:
data.describe()

,Unnamed: 0,id,inning_x,strike_rate,economy_rate,Team1_runs
count,816.000000,8.160000e+02,816.0,816.000000,816.000000,816.000000
mean,407.500000,7.563496e+05,1.0,116.140274,8.579733,161.849265
std,235.703203,3.058943e+05,0.0,24.604295,1.352669,30.382883
min,0.000000,3.359820e+05,1.0,47.650000,3.897500,56.000000
25%,203.750000,5.012278e+05,1.0,99.404250,7.721477,143.000000
50%,407.500000,7.292980e+05,1.0,114.916429,8.530000,163.000000
75%,611.250000,1.082626e+06,1.0,131.184038,9.389107,182.000000
max,815.000000,1.237181e+06,1.0,219.938333,12.989000,263.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 8 columns):
Unnamed: 0      816 non-null int64
id              816 non-null int64
team1           816 non-null object
inning_x        816 non-null int64
strike_rate     816 non-null float64
team2           816 non-null object
economy_rate    816 non-null float64
Team1_runs      816 non-null int64
dtypes: float64(2), int64(4), object(2)
memory usage: 51.1+ KB

In [6]:
data.nunique()

Unnamed: 0      816
id              816
team1            13
inning_x          1
strike_rate     815
team2            13
economy_rate    799
Team1_runs      151
dtype: int64

In [7]:
data.dtypes

Unnamed: 0        int64
id                int64
team1            object
inning_x          int64
strike_rate     float64
team2            object
economy_rate    float64
Team1_runs        int64
dtype: object

In [8]:
data.columns

Index(['Unnamed: 0', 'id', 'team1', 'inning_x', 'strike_rate', 'team2',
       'economy_rate', 'Team1_runs'],
      dtype='object')

In [9]:
irrelevant = ['id','team1','inning_x','team2']
data = data.drop(irrelevant, axis=1)
data.head()

   Unnamed: 0  strike_rate  economy_rate  Team1_runs
0           0    88.776875      9.923636         222
1           1   162.167692     12.085833         240
2           2   117.141538      7.868182         129
3           3   129.096667      8.559167         165
4           4    70.883529      6.567500         110

In [10]:
data = data.drop(data.columns[0],axis=True)
data.head()

   strike_rate  economy_rate  Team1_runs
0    88.776875      9.923636         222
1   162.167692     12.085833         240
2   117.141538      7.868182         129
3   129.096667      8.559167         165
4    70.883529      6.567500         110

In [11]:
data[data==np.inf]=np.nan
data.dropna()
data.isna().sum()

strike_rate     0
economy_rate    0
Team1_runs      0
dtype: int64

In [12]:
from seaborn import heatmap
heatmap(data=data.corr(), annot=True)

In [13]:
features = data.drop(['Team1_runs'], axis=1)
labels = data['Team1_runs']

In [14]:
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size=0.20, shuffle=False)

In [15]:
models = dict()

In [16]:
#Decision Tree
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()
tree.fit(train_features, train_labels)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [17]:
train_score_tree = str(tree.score(train_features, train_labels) * 100)
test_score_tree = str(tree.score(test_features, test_labels) * 100)
print(f'Train Score : {train_score_tree[:5]}%\nTest Score : {test_score_tree[:5]}%')
models["tree"] = test_score_tree

Train Score : 100.0%
Test Score : 4.058%

In [18]:
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse
print("---- Decision Tree Regressor - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, tree.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, tree.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, tree.predict(test_features)))))

---- Decision Tree Regressor - Model Evaluation ----
Mean Absolute Error (MAE): 21.067073170731707
Mean Squared Error (MSE): 856.420731707317
Root Mean Squared Error (RMSE): 29.264666950220313

In [19]:
#Linear Regression
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(train_features, train_labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
train_score_linreg = str(linreg.score(train_features, train_labels) * 100)
test_score_linreg = str(linreg.score(test_features, test_labels) * 100)
print(f'Train Score : {train_score_linreg[:5]}%\nTest Score : {test_score_linreg[:5]}%')
models["linreg"] = test_score_linreg

Train Score : 49.64%
Test Score : 41.07%

In [21]:
print("---- Linear Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, linreg.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, linreg.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, linreg.predict(test_features)))))

---- Linear Regression - Model Evaluation ----
Mean Absolute Error (MAE): 14.402089999014642
Mean Squared Error (MSE): 525.9933002583839
Root Mean Squared Error (RMSE): 22.934543820586097

In [22]:
#Random Forest
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor()
forest.fit(train_features, train_labels)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [23]:
train_score_forest = str(forest.score(train_features, train_labels)*100)
test_score_forest = str(forest.score(test_features, test_labels)*100)
print(f'Train Score : {train_score_forest[:5]}%\nTest Score : {test_score_forest[:5]}%')
models["forest"] = test_score_forest

Train Score : 92.54%
Test Score : 35.42%

In [24]:
print("---- Random Forest Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, forest.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, forest.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, forest.predict(test_features)))))

---- Random Forest Regression - Model Evaluation ----
Mean Absolute Error (MAE): 16.63420731707317
Mean Squared Error (MSE): 576.3909457317072
Root Mean Squared Error (RMSE): 24.008143321208895

In [25]:
#Lasso Regression
from sklearn.linear_model import LassoCV
lasso = LassoCV()
# Train Model
lasso.fit(train_features, train_labels)

LassoCV(alphas=None, copy_X=True, cv=None, eps=0.001, fit_intercept=True,
        max_iter=1000, n_alphas=100, n_jobs=None, normalize=False,
        positive=False, precompute='auto', random_state=None,
        selection='cyclic', tol=0.0001, verbose=False)

In [26]:
train_score_lasso = str(lasso.score(train_features, train_labels)*100)
test_score_lasso = str(lasso.score(test_features, test_labels)*100)
print(f'Train Score : {train_score_lasso[:5]}%\nTest Score : {test_score_lasso[:5]}%')
models["lasso"] = test_score_lasso

Train Score : 49.61%
Test Score : 41.07%

In [27]:
print("---- Lasso Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, lasso.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, lasso.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, lasso.predict(test_features)))))

---- Lasso Regression - Model Evaluation ----
Mean Absolute Error (MAE): 14.462984169558418
Mean Squared Error (MSE): 525.9922773932885
Root Mean Squared Error (RMSE): 22.934521520914462

In [28]:
#Neural Network (MultiLayer Perceptron)
from sklearn.neural_network import MLPRegressor
neural_net = MLPRegressor(activation='logistic', max_iter=1000)
# Train Model
neural_net.fit(train_features, train_labels)

C:\Users\praneeth\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPRegressor(activation='logistic', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(100,), learning_rate='constant',
             learning_rate_init=0.001, max_fun=15000, max_iter=1000,
             momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
             power_t=0.5, random_state=None, shuffle=True, solver='adam',
             tol=0.0001, validation_fraction=0.1, verbose=False,
             warm_start=False)

In [29]:
train_score_neural_net = str(neural_net.score(train_features, train_labels)*100)
test_score_neural_net = str(neural_net.score(test_features, test_labels)*100)
print(f'Train Score : {train_score_neural_net[:5]}%\nTest Score : {test_score_neural_net[:5]}%')
models["neural_net"] = test_score_neural_net

Train Score : 30.30%
Test Score : 15.98%

In [30]:
print("---- Neural Networks Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, neural_net.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, neural_net.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, neural_net.predict(test_features)))))

---- Neural Networks Regression - Model Evaluation ----
Mean Absolute Error (MAE): 20.68177833570059
Mean Squared Error (MSE): 749.9396105764735
Root Mean Squared Error (RMSE): 27.385025298079853

In [31]:
def predict_score(economy_rate,strike_rate,model=forest):
  prediction_array = []
  prediction_array = [economy_rate,strike_rate]
  prediction_array = np.array([prediction_array])
  pred = model.predict(prediction_array)
  return int(round(pred[0]))

In [32]:
score = predict_score(economy_rate=2.4,strike_rate=127.4)
print(f'Predicted Score : {score}')

Predicted Score : 147

In [33]:
score = predict_score(economy_rate=5,strike_rate=88.8)
print(f'Predicted Score : {score}')

Predicted Score : 147